.bar{
    display: flex;
    width: 100%;
}

.p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 70px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(201, 59, 59);
    color: white;
   position: fixed;
   right: 0;
   top: 24%;
   z-index: 1800;
   cursor: pointer;
}
.p p{
    font-size: 18px;
    margin-top: 6px;
}